    VNFMP_{{node}}{{port_name}}:
      type: OS::Neutron::Port
      properties:
      name: {{ item.VMName }}{{port_name}}
      network: "{{ network }}"
      security_groups: "{{ security_groups }}"
      fixed_ips: [{"subnet": "{{ subnet }}", "ip_address": "{{ ipaddr }}"}]